---
BasedOnStyle: LLVM
---
# Objective-C
Language: ObjC
AlignAfterOpenBracket: Align
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Attach
ColumnLimit: 0
IndentCaseLabels: true
IndentWidth: 4
ObjCBlockIndentWidth: 4
ObjCBreakBeforeNestedBlockParam: false
ObjCSpaceAfterProperty: false
ObjCSpaceBeforeProtocolList: true
PointerAlignment: Right
PointerBindsToType: false
SortIncludes: true
SpaceAroundPointerQualifiers: Both
SpacesBeforeTrailingComments: 1
SpacesInConditionalStatement: false
SpacesInContainerLiterals: false
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
UseTab: Never
---
# C++
Language: Cpp
ColumnLimit: 0
SortIncludes: true
